@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0;
}

/* __________________________________________________HEADER.PHP_______________________________ */

nav {
  position: absolute;
  top:0px;
  width: 100%;
  background-color: whitesmoke;
}

nav ul {
  display: flex;
}

.onglet {
  display: flex;
  padding: 10px 20px;
  color: black;
}

.onglet:hover {
  color: rgb(255, 0, 0);
}

#formLien {
  display: flex;
  padding: 10px 20px;
  color: whitesmoke;
}

#formLien:hover {
  color: gray;
}

#background {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* __________________________________________________INDEX.PHP_______________________________ */


.container {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}


/*------------------------------LEFT-----------------*/

.boxleft{
  width: 250px;
  height: 450px;
  background-color: rgba(0, 0, 0, 0.616);
}

.liste {
  text-decoration: none;
  margin: 3px;
}

.projet {
  cursor: pointer;
  display: flex;
  align-items: center;
  width:100%;
  height: 50px;
  transform: translate(-20px);
  padding-left: 30px;
  margin-bottom: 5px;
  border-radius: 0 0 10px 0;
  background-color: rgba(255, 255, 255, 0.801);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  transition: 0.5s;
}

.projet:hover {
  transform: translate(10px);
}

.slide {
  transform: translate(10px);
}

.projet:hover .pProj{
  color: red;
}

.projet p {
  pointer-events: none;
  font-family: 'Saira Stencil One', cursive;
}

.projet span {
  pointer-events: none;
  font-family: 'Chakra Petch', sans-serif;
}

.projetInfosOFF {
  display: none;
}

.projetInfosON {
  padding-left: 20px;
  font-family: 'Chakra Petch', sans-serif;
  color: whitesmoke;
  font-size: 1.2rem;
}

.projetLien {
  color: rgb(57, 87, 255);
}
.projetLien:hover {
  color: rgb(0, 38, 255);
}

/*------------------------------RIGHT-----------------*/

.boxright {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 450px;
  display: flex;
}

#fond {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#ecran {
  margin-left: 28%;
  margin-right: 23%;
  width: 100%;
  height: 85%;
  transform: skew(4deg) rotateY(9deg) rotateZ(352deg) rotate(2deg);
  clip-path: polygon(2% 0, 100% 2%, 100% 82%, 0 100%);
}

.text {
  padding-left: 20px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 1.2rem;
  color: rgb(0, 255, 0);
}

/* ####################### ANIMATION #################### */

.css-typing p {
  border-right: .15em solid rgb(255, 0, 0);
  white-space: nowrap;
  overflow: hidden;
}

.css-typing p:nth-child(1) {
  width: 80%;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 80%;
  opacity: 0;
  -webkit-animation: type2 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing a {
  width: 60%;
  opacity: 0;
  -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(255, 0, 0);
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid rgb(255, 0, 0);
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid rgb(0, 255, 0);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid rgb(0, 255, 0);
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* ###################################################### */



/* _____________________________________LOGIN.PHP___________________________________
*/

.containerLog {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.containerLog h1 {
  text-align: center;
}

#backgroundForm {
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* _____________________________________FORM.PHP___________________________________
*/

.containerForm {
  position: relative;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.form_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: #00000069;
  border-radius: 10px;
  padding: 10px;
}

input,
label {
  margin: 5px;
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#btnDeco {
  color: black;
  text-align: center;
}

/* _____________________________________FORM.PHP___________________________________
*/

.container2 {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  width: 100%;
}

